/*adjust general font size*/
.md-typeset  {
font-size: 0.7rem;
}

/* increase window width
.md-grid  {
  max-width: 1850px;
  }*/

  
/*adjust code font size*/

/*NEW with pymdown v7 and tabbed fences: adjust code font size*/
.md-typeset code {
	font-size: .65em !important;
}

/*adjust code linenumber font size*/

.codehilitetable .linenos, .highlighttable .linenos {
    font-size: .65em !important;
}

/* /*adjust sidebar hover color - (standard is not as vivid color (color: var(--md-primary-fg-color);)) */
.md-nav__item .md-nav__link--active {
    color: var(--md-accent-fg-color);
}


/*reduce source code font size*/
.md-typeset .codehilitetable,.md-typeset .highlighttable{
	font-size: 14px;
}


/* allows to center images via attr_list */
.center {
    display: block;
    margin: 0 auto;
}



/* Center Markdown Tables (requires md_in_html extension) */
.center-table {
  text-align: center;
}

.md-typeset .center-table :is(td,th):not([align]) {
  /* Reset alignment for table cells */
  text-align: initial;
}



/* Tool-tips */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
}

/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
	position: relative;
	/* z-index: 2; */
	cursor: pointer;
	/*text-decoration: underline dotted;*/
	/*text-decoration: underline;*/
	border-bottom: 1px dotted var(--md-typeset-color);
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	opacity: 0;
	pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
	position: absolute;
  z-index: 2;
	bottom: 100%;
	left: 50%;
	margin-bottom: 5px;
	margin-left: -80px;
	padding: 7px;
	width: 160px;
	-webkit-border-radius: 3px;
	-moz-border-radius:    3px;
	border-radius:         3px;
	background-color: #000;
	background-color: hsla(0, 0%, 20%, 0.9);
	color: #fff;
	content: attr(data-tooltip);
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
	position: absolute;
  z-index: 2;  
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	margin-top: -5px;
	width: 0;
	border-top: 5px solid hsla(0, 0%, 20%, 0.9);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	content: " ";
	font-size: 0;
	line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

/* allow tool tips to overflow admonitions - but then the margin ran out at the bottom and the box ended too short so added an invisible bottom-border */
.md-typeset .admonition, .md-typeset details {
    overflow: visible;
    border-bottom: 0.001rem solid #00000000 !important;
 }


/* lines next to the navigations - new style */
.md-nav--primary {
    border-right: .05rem solid var(--md-default-fg-color--lightest);
}

.md-nav--secondary {
    border-left: .05rem solid var(--md-default-fg-color--lightest);
}




/* adjust colors to Sanofi corporate for both light and dark mode */
:root > * {
  --md-primary-fg-color:        #23004C;
  --md-accent-fg-color:         #7A00E6;
}





/* Dark mode adjustments */

/* Stronger box shadows (30% insted of 5% in bright mode) for admonitions and tables */
[data-md-color-scheme="sanofi-slate"] .md-typeset .admonition, [data-md-color-scheme="sanofi-slate"] .md-typeset details {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3), 0 0 0.05rem rgba(0, 0, 0, 0.2); }
[data-md-color-scheme="sanofi-slate"] .md-typeset table:not([class]) {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3), 0 0 0.05rem rgba(0, 0, 0, 0.2);
  border: none; /*remove border*/}

/* Dark background for table header */
[data-md-color-scheme="sanofi-slate"] .md-typeset table:not([class]) th {
  color: var(--md-text-color);
  background-color: var(--md-primary-fg-color); } 

/* White mode adjustments needed for > v7.2.1*/

/* add table box shadows (5%) back in, remove border */
[data-md-color-scheme="sanofi"] .md-typeset table:not([class]) {
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05), 0 0 0.05rem rgba(0, 0, 0, 0.2); 
  border: none; }

/* change table header color back to dark grey and text to bright*/
[data-md-color-scheme="sanofi"] .md-typeset table:not([class]) th {
  background-color: var(--md-default-fg-color--light);
  color: var(--md-default-bg-color);
  font-weight: normal;  }


/* Fine underline in accent color for table header: 
[data-md-color-scheme="sanofi-slate"] .md-typeset table:not([class]) th {
  border-bottom: 0.05rem solid var(--md-accent-fg-color); } */

/* Fine underline in accent color for page header: 
[data-md-color-scheme="sanofi-slate"] .md-header {
border-bottom: 0.05rem solid var(--md-accent-fg-color); } */

/* Adjusted dark background for search window 
[data-md-color-scheme="sanofi-slate"] .md-search__input {
  background-color: var(--md-default-bg-color); }*/

/* Adjusted dark background for search window hover     
[data-md-color-scheme="sanofi-slate"] .md-search__input:hover {
  background-color: var(--md-default-fg-color--lighter); }*/

/* Dark background for admontion header: 
[data-md-color-scheme="sanofi-slate"] .md-typeset .admonition > .admonition-title, [data-md-color-scheme="sanofi-slate"] .md-typeset details > .admonition-title, [data-md-color-scheme="sanofi-slate"] .md-typeset details.admonition > summary, [data-md-color-scheme="sanofi-slate"] .md-typeset details > summary {
  background-color: var(--md-primary-fg-color); }  */


/*for replacing pdfs with links on mobile*/
.myPDF {
	width: 100%;
}

.myPDF-link {
	padding: 3%;
	border-style: solid;
	border-width: 1px;
	border-color: #a1a1a1;
}

/* MEDIA QUERIES - TO SWAP THE VISIBILITY AND STYLING FOR THE EMBED AND LINK BUTTON FOR DESKTOP AND MOBILE */

@media screen and (min-width: 992px) {
/* DESKTOP */

.myPDF {
	visibility: visible;
	height: 1110px;
	}

.myPDF-link {
	visibility: hidden;
	height: 0;
	}
}


@media screen and (max-width: 991px) {
/* MOBILE VERTICAL TABLET CSS properties cascade down to other views*/

.myPDF {
	visibility: hidden;
	height: 0;
	}
	
.myPDF-link {
	visibility: visible;
	height: auto;
	}

}


/*for image gallery 3 columns*/

.box-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 1.4em;
    width: 100%;
}

.box {
    list-style-type: none;
    float: left;
    opacity: 0;
    transform: translate3d(0, 40px, 0);
    transition: opacity 0.2s, transform 0.35s;
}

.box.show {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: opacity 0.4s, transform 0.35s;
	margin-left: 0em!important;
}

.box .inner {
    padding: 10px;
    position: relative;
}

.box a {
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}

.box img {
    width: calc(100% + 50px);
    max-width: calc(100% + 50px);
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-40px, 0, 0);
}

.box a::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: 99;
    opacity: 0;
    transition: opacity 0.4s;
}

.three-cols .box {
    width: 100%;
}

.four-cols .box {
    width: 23.1%;
}

.four-cols .box:nth-child(4n+0) {
    margin-right: 0;
}

.four-cols .box:nth-child(4n+1) {
    clear: both;
    margin-left: 0;
}

@media (min-width: 390px) {
    .three-cols .box {
      width: 33.3%;
    }
}


@media (min-width: 576px) {
   
    .three-cols .box {
        width: 33.3%;
    }

    .three-cols .box:nth-child(3n+0) {
        margin-right: 0;
    }

    .three-cols .box:nth-child(3n+1) {
        margin-left: 0;
    }

    .mcbutton {
        width: auto;
    }
}


@media (min-width: 992px) {
    .box:hover img {
        transform: translate3d(0, 0, 0);
        transition: opacity 0.35s, transform 0.35s;
    }

    .box:hover a::before {
        opacity: 0.3;
        transition: opacity 0.5s;
    }
}
